@font-face {
  font-family: 'Montserrat';
  src: url(./assets/Fonts/Montserrat/Montserrat-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url(./assets/Fonts/Montserrat/Montserrat-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url(./assets/Fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url(./assets/Fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url(./assets/Fonts/Roboto/Roboto-Light.ttf);
  font-weight: 300;
}

/*  for browser test */
/* body {
  margin: 0;
  padding: 0;
} */

/* When global settings set, this will be overriden */
:where(body) :where(.demo-form-page) {
  margin: 0;
  padding: 0;
}

.demo-form-page * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --clr-primary: #fdad33;
  --clr-primary-light: #feedc7;
  --clr-gray: #dfe2eb;
  --clr-darkgray: #c6cbdb;
  --clr-dark: #1c2834;
  --clr-blue: #2b3e4f;
  --clr-darkblue: #122b39;
  --clr-border: #30424c;
}

.demo-form-page {
    background-color: #1c2834;
}

:is(.demo-form-page) :is(h1,h2,h3,h4) {
  font-family: 'Montserrat', sans-serif;
  color: var(--clr-gray);

}

:is(.demo-form-page) :is(p,span,label,input,li) {
  font-family: 'Roboto', sans-serif;
  /* color: var(--clr-gray); */
  background-color: inherit;
}

.banner {
  padding-block: 8px;
  text-align: center;
  background-color: var(--clr-primary);
}

.banner :is(span, a) {
  color: var(--clr-dark);
  background-color: var(--clr-primary);
}

.banner a {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  max-width: 1600px;
  margin-inline: auto;
  padding-block: 60px;
  padding-inline: min(160px,5%);
}

.hero {
  padding-inline: min(5%, 100px);
  padding-bottom: 80px;
  text-align: center;
}

.hero .hero-banner {
  width: fit-content;
  margin-bottom: 1.5em;
  margin-inline: auto;
  padding: 4px 8px;
  font-size: 0.6rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  color: var(--clr-primary);
  text-align: center;
  text-transform: uppercase;
  border: 1px solid var(--clr-primary);
  border-radius: 36px;
  display: block;
}

:is(.demo-form-page) h1 {
  margin-bottom: 1em;
  font-size: clamp(30px, 2.5rem, 9vw);
  line-height: 1.2;
}

:is(.demo-form-page) .subhead {
  margin-bottom: 2em;
  font-size: clamp(16px, 1.33rem, 5vw);
  line-height: 1.4;
  color: var(--clr-darkgray);
}

.categories .subtitle {
  margin-bottom: 1em;
  font-size: clamp(20px, 1.5rem, 6vw);
  text-align: center;
}

.left ul {
  /* margin-bottom: 24px; */
  color: var(--clr-gray);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

/* .left ul h4 {
  margin-bottom: 1em;
} */

.left ul li {
  padding: 10px;
  padding-left: 32px;
  list-style-type: none;
  /* list-style-position: inside; */
  font-size: 14px;
  line-height: 1.4;
  text-align: start;
  background-color: var(--clr-darkblue);
  border: 2px solid var(--clr-blue);
  border-radius: 48px;
  position: relative;
}

.left ul li::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--clr-primary);
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.form-container {
  min-width: min(calc(100vw - 60px), 350px);
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 80px;
  padding-inline: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.form-title {
  margin-bottom: 0.5em;
}

.form-group {
  margin-bottom: 16px;
  position: relative;
}

.form label {
  color: #5383a4;
}

.form :is(input[type="text"], input[type="email"], select) {
  width: 100%;
  /* margin-bottom: 16px; */
  padding-block: 18px;
  padding-inline: 8px;
  font-size: 1rem;
  color: var(--clr-gray);
  border: 1px solid var(--clr-border);
  /* border-bottom: 1px solid var(--clr-primary); */
  /* border-radius: 4px 4px 0 0; */
  border-radius: 8px;
  background-color: var(--clr-dark);
  display: block;
  outline: none;
}

.form .name {
  display: flex;
  gap: 20px;
}

.name .form-group {
  flex: 1;
}

.form-label {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: all 0.3s ease;
  background: var(--clr-gray);
  padding: 0 4px;
}

/* When input is focused or has content */
.demo-form-page :is(input:focus + .form-label,
input:not(:placeholder-shown) + .form-label,
select:focus + .form-label) {
  top: 4px;
  left: 4px;
  transform: translateY(0%);
  font-size: 12px;
  color: var(--clr-primary);
}

/* For select dropdown, we need to handle the selected state differently */
.demo-form-page :is(select:valid + .form-label) {
  top: 4px;
  left: 4px;
  transform: translateY(0%);
  font-size: 12px;
  color: var(--clr-primary);
}

.demo-form-page select {
  color: #666;
}

.demo-form-page select:valid {
  color: var(--clr-border);
}

.demo-form-page select option[value=""] {
  color: #666;
}

.demo-form-page select hr {
  color: var(--clr-gray);
  border-top: 1px solid var(--clr-gray);
}

.demo-form-page label:has(#subscribe) {
  padding-top: 8px;
  color: var(--clr-darkgray);
  display: flex;
  flex-wrap: nowrap;
  align-items: start;
  gap: 8px;
}

.demo-form-page input.demo-button {
  width: 100%;
  margin-block: 24px;
  padding: 1.125rem 1.5rem;
  font-size: 1.125rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  color: var(--clr-dark);
  text-decoration: none;
  background-color: var(--clr-primary);
  border: none;
  border-radius: 8px;
  display: flex;
  transition: .1s opacity linear;
  justify-content: center;
  cursor: pointer;
}

.demo-button:hover {
  opacity: 0.8;
}


.partners h2 {
  margin-bottom: 1.5em;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.partners ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, min(40vw,240px));
  justify-content: center;
  gap: 20px;
}

.partners li {
  padding: 10px 20%;
  background-color: var(--clr-darkblue);
  border: 2px solid var(--clr-border);
  border-radius: 16px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 100%;
  max-height: 75px;
  filter: brightness(0) invert(1);
}

#sf {
  filter: none;
}

@media screen and (width > 800px) {
  .wrapper {
    padding-block: 120px;

  }

  .main-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 8%;
    position: relative;
  }

  .hero {
    margin-bottom: 80px;
    max-width: 55%;
    padding-inline: unset;
    padding-bottom: unset;
    text-align: start;
  }

  .hero .hero-banner {
    margin-inline: unset;
    font-size: 0.8rem;
    text-align: start;
  }

  :is(.demo-form-page) h1 {
    margin-bottom: 0.6em;
  }

  .categories .subtitle {
    margin-bottom: 0.5em;
    text-align: start;
  }

  .form-container {
    padding-block: 40px 20px;
    background-color: var(--clr-darkblue);
    border: 2px solid var(--clr-border);
  }

  .partners h2 {
    margin-bottom: 2em;
    text-align: start;
  }

  .partners li {
  padding: 20px 40px;
}

}